.experience {
  background-color: #002366;
  color: #fff;
}

.experience h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

.experience-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
}

.experience-card {
  background-color: transparent;
  border: 2px solid #3d7cf0;
  color: #ffffff;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px #3d7cf0;
}

.experience-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.experience-details {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.experience-details p {
  margin-bottom: 10px;
}

.experience-details svg {
  margin-right: 10px;
}

.experience-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.experience-card li {
  margin-bottom: 20px;
  padding-left: 0;
}

.experience-card li::before {
  content: none;
}

.experience-card a {
  color: #3d7cf0;
  text-decoration: none;
}

.experience-card a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .experience-card {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .experience-card {
    width: 90%;
    padding: 10px;
  }
  
  .experience-item {
    padding: 50px 0px 50px 0px;
  }
  
  .experience-title {
    font-size: 1.2rem;
  }
  
  .experience-details {
    font-size: 0.9rem;
  }
}

